.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: lightgrey;
    border: 0;
    padding: 0.05em 0;
    margin: 0;

    .tabs {
        height: 95%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;

        .trending_tab, .top_tab, .coming_tab, .genres_tab {
            font-size: 1.3em;
            color: deepskyblue;
            border: 0;
            padding: 0 0.4em;
            margin: 0;
            outline: none;
            background-color: lightgrey;
            white-space: nowrap;
        }

        .active {
            text-decoration: underline;
        }

        .dropdown {
            width: 25%;
            position: relative;
            display: inline-block;

            .genres_tab {
                width: 100%;
            }

            .genre__list {
                background-color: lightgray;
                display: none;
                position: absolute;
                z-index: 100500;

                .genre {
                    width: 100%;
                    font-size: 1.2em;
                    color: deepskyblue;
                    border: 0;
                    padding: 0;
                    margin: 1px;
                    outline: none;
                    background-color: lightgrey;
                }

                .active {
                    color: black;
                }

            }

            .show {
                display: block;
            }
        }
    }

    .view {
        height: 95%;
        width: 10%;
        display: flex;
        flex-direction: row;

        .view__block, .view__list {
            width: 50%;
            height: 100%;
            font-size: 1em;
            color: deepskyblue;
            border: 0;
            padding: 0;
            margin: 0;
            background-color: lightgrey;
            outline: none;

            .svg_block, .svg_list {
                display: inline-block;
                width: 3em;
                height: 3em;
                fill: deepskyblue;
                border: 0;
                padding: 0;
                margin: 0;
            }
        }

        .active {
            border-bottom: 2px solid;
            border-color: deepskyblue;
        }
    }

    .link {
        color: deepskyblue;
        text-decoration: none;
        cursor: default;
    }

    .view__block:active, .view__list:active, .trending_tab:active, .top_tab:active, .coming_tab:active, .genres_tab:active, .genre:active {
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
}

