
div.topper {
    width: 100vw;
    height: 80vh;
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../trash/jb_wall.jpg);
    background-size: cover;
    box-shadow: inset 0 110px 150px  -50px black , inset 0 -110px 150px  -50px black;
}

.topper {
    big {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 10%;
        color: white;
        margin-left: 6%;
        margin-top: 1%;
        font-size: 1.5em;
        padding: 0;
        border: 0;
    }

    ::selection {
        background-color: dimgray;
    }
}


div.searchLine, div.filmData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
