.Dark::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.664);
    z-index: 1;
}  

.FilmData {

    width: 20%;
    height: 45vh;
    background-color: white;
    margin: 0 1%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    flex: auto;
    background-size: cover;

    .control {

        width: 100%;
        height: 80%;
        margin: 0;
        padding: 0;
        border: 0;

        .Wall {
            width: 100%;
            height: 100%;
            background-size: cover;
            margin: 0;
            padding: 0;
            border: 0;
            z-index: 100;
            position: relative;
        }

        .Wall:hover {
            z-index: 1;
        }

        .hidden:hover {
            z-index: 101;
        }

        .hidden {

            background-color: rgba(0, 0, 0, 0.664);
            width: 100%;
            height: 100%;
            top: -101.5%;
            margin: 0;
            padding: 0;
            border: 0;
            position: relative;
            z-index: 50;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .Play {
                z-index: inherit;
                color: white;
                background-color: deepskyblue;
                height: 1.5em;
                width: 1.5em;
                border: 0;
                border-radius: 100%;
                font-size: 3.5em;
                outline: none;
                padding-left: 4%;
                padding-top: 2%;
                margin-top: 10%;
            }

            .Play:active {
                background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
                background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
                background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
                background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
                background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
            }

            .WatchNow {
                color: white;
                font-weight: 500;
                font-size: 1.15em;
            }

            .Info {
                margin-top: 5%;
                background: transparent;
                color: white;
                font-size: 1.15em;
                border: 1px solid;
                padding: 2% 5%;
                border-radius: 0.5em;
                outline: none;
            }

            .Info:active {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }

    .NameText {
        width: 100%;
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 600;
        font-size: 1.6em;
        color: black;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .TagsText {
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1em;
        width: 100%;
        color: deepskyblue;
        margin: 0;
        padding: 0;
        border: 0;
    }

    .RateText, .DetailsRateText {
        height: 1.1em;
        width: 2em;
        font-size: 1.4em;
        margin: 0 0 0 0.5em;
        padding: 0;
        border: 1px solid;
        color: deepskyblue;
        border-color: deepskyblue;
        text-align: center;
    }

    .FilmText {
        margin: 0;
        padding: 0;
        border: 0;
        height: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .Name {
        width: 75%;
        margin-left: 5%;
        padding: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Close {
        width: 15%;
        height: 10%;
        background: transparent;
        border: 0;
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        outline: none;
        z-index: 2;
        margin-bottom: 5%;;
    }

    .Close:active {
        color: black;
    }

    .DetailsFilmText {

        display: flex;
        flex-direction: row;
        width: 100%;
        height: 20%;

        .DetailsRateText {
            z-index: 2;
        }

        .DetailsName {

            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100%;
            margin-right: 5%;
            margin-left: 3%;
    
            .DetailsNameText {
                color: white;
                z-index: 2;
                margin: 0;
                margin-bottom: 1%;
            }
    
            .DetailsTagsText {
                z-index: 2;
                text-transform: uppercase;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-size: 1em;
                width: 100%;
                color: deepskyblue;
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
    }

    .Overview {
        height: 50%;
        color: white;
        z-index: 2;
        margin: 3% 5%;
        font-size: 1.2em;
        text-overflow: ellipsis;
        resize: none;
        overflow-y: auto;
        scrollbar-color: deepskyblue #201F27;
    }

    .DetailsPlay {
        width: 40%;
        height: 15%;
        border: 0;
        border-radius: 10px;
        z-index: 2;
        color: white;
        background-color: deepskyblue;
        font-size: 1.3em;
        margin: 5% 0 5% 5%;
        outline: none;
    }

    .DetailsPlay:active {
        background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
        background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    }
}

::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:6px;
    height:0px
    }
    
::-webkit-scrollbar-track {
    background-color:#201F27;
    box-shadow:0px 0px 3px #000 inset;
}
    
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: deepskyblue;
    box-shadow:0px 1px 1px #201F27 inset;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}
    
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:7px;
    height:0px
}
    
::-webkit-scrollbar{
    width: 11px;
}