.Up {
    z-index: 2;
}

.Down {
    z-index: -1;
}

.Bord {
    position: fixed;
    height: 70%;
    width: 80%;
    left: 10%;
    top: 15%;
    bottom: 0;
    border: 10px;
    border-color: deepskyblue;
    border-radius: 5px;
}