
.List {

    height: 200vh;
    width: 100%;
    background-color: lightgrey;
    padding-top: 1%;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    ::selection {
        background-color: dimgray;
    }
}